{% extends 'base.html' %}
{% block title %} About Us | {% endblock title %}

{% block style%}

  img{
    max-width: 100%;
    max-height: 100vh;
  
  }

  body{
    background-image: url('./../static/about.jpeg') !important;
    background-size: 100%;
    
   
  
    width: 100%;
    {% comment %} height: 4.5rem; {% endcomment %}
    
    background-repeat: no-repeat;
  }
    #bg {
      position: fixed; 
      top: -50%; 
      left: -50%; 
      width: 200%; 
      height: 200%;
      background: red
  }
  #bg img {
      position: absolute; 
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      margin: auto; 
      min-width: 50%;
      min-height: 50%;
  }
{% endblock style %}


{% block body %}

<div class="bg">
  <div class="container my-5">
  <h1 class="mb-3 h2">Why Choose Us?</h1>
  <div class=" my-5" style="width:50%">
  
  <p style ="text-align:left;">
    Leading consultants and professionals from the business choose to work with us thanks to our reputation for excellent treatment, a family-like environment, and cutting-edge medical facilities. 
    All of our medical professionals are board-certified and have extensive training in their respective fields of expertise. Many of our consultant physicians are also well-known on a global scale. 
    Our experts follow the Clinical Governance framework, which ensures quality patient care, when working at our institutions. 
    All of our nurses have a nursing council registration and are properly qualified.
    At our Hospital, we are dedicated to provide the most cutting-edge medical and surgical care along with the most up-to-date treatment technology to our patients.
  </p>
</div>

{%endblock body%}