{% extends 'base.html' %}
{% block title %} Admin | {% endblock title %}
{% block body %}
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h2 class="card-title">Hello Admin</h2>
      <p class="card-text">Welocome to Hospital Management System</p>
      <a href="admin_register" class="btn btn-primary">Register</a>
      <a href="#" class="btn btn-primary">Login</a>
    </div>
    <div class="card-footer text-muted">
     
    </div>
  </div>
{% endblock body %}