{% extends 'base.html' %}
{% block title %} Patient | {% endblock title %}

{% block body %}
<div class="container">
    <div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2>Doctor-1</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">Name</h5>
          <p class="card-text">Specialist</p>
          <a href="#" class="btn btn-primary"> Book Appointment</a>
        </div>
    </div>
    </div>
    <div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2>Doctor-2</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Specialist</p>
            <a href="#" class="btn btn-primary"> Book Appointment</a>
        </div>
    </div>
    </div>
    <div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2>Doctor-3</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Specialist</p>
            <a href="#" class="btn btn-primary"> Book Appointment</a>
        </div>
    </div>
    </div>
    <div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2>Doctor-4</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Specialist</p>
            <a href="#" class="btn btn-primary"> Book Appointment</a>
        </div>
    </div>
    </div>
    <div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2>Doctor-5</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Specialist</p>
            <a href="#" class="btn btn-primary"> Book Appointment</a>
        </div>
    </div>
    </div>
    <div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2>Doctor-6</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Specialist</p>
            <a href="#" class="btn btn-primary"> Book Appointment</a>
        </div>
    </div>
    </div>
    <div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2>Doctor-7</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">Name</h5>
          <p class="card-text">Specialist</p>
          <a href="#" class="btn btn-primary"> Book Appointment</a>
        </div>
    </div>
    </div>
    <div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2>Doctor-8</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Specialist</p>
            <a href="#" class="btn btn-primary"> Book Appointment</a>
        </div>
    </div>
    </div>
    <div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2>Doctor-9</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Specialist</p>
            <a href="#" class="btn btn-primary"> Book Appointment</a>
        </div>
    </div>
    </div>
</div>
{% endblock body %}
